@font-face
{
	font-family: 'jedi';
    src: url('jedi.ttf');
}

*{
    box-sizing:border-box;
}

a
{
    color:#000;
}

body{
    background:#fac09c;
    font-family:Arial;
}

header,
nav,
section,
article,
aside,
footer{
    padding:10px;
    border-radius:8px;
    margin:5px;
}

/* ENTETE */

header{
    background:#FF9453;
    display:flex;
    align-items:center;
}

h1
{
    margin:0;
    flex-grow:1;
    text-align:center;
    font-family:jedi, Arial;
    font-size:3em;
    font-weight:normal;
    color:#16B0B2;
    text-shadow: 8px 12px 5px rgba(70, 141, 111, 1);
}

/* MENU */

nav
{
    background:#FF9453;
}

ul
{
    margin:0;
    display:flex;
    justify-content:space-around;
}

li {
    font-size:larger;
    display:inline;
}

/*CONTENU PPAL */

.wrapper {
    display: flex;
    flex-direction: row;
}

#listeArticles
{
    flex-grow:1;
    background-color:#FF9453;

    display:flex;
    flex-wrap:wrap;
}

section>h2
{
    flex-basis:100%;
    text-align:center;
    font-family:jedi;
    color:#16B0B2;
    text-shadow: 8px 12px 5px rgba(70, 141, 111, 1);
    font-weight:normal;
}

article
{
    flex-grow:1;
    flex-basis:20em;
    
    border:1px solid black;
    height:20em;
    overflow:hidden;
}

/* Transformations, transitions */

#listeArticles{

    perspective:1000px;

}

article
{
    background:#FF9453;
    transition:background 2s, transform 4s;
}

article:hover{
    font-family:jedi;
    background:hotpink;
    transform:rotateY(30deg) rotateZ(1080deg) scale(1.5);
}

/* animations */

@keyframes rebond
{
    0%
    {
        transform:translateX(0) translateY(0);
    }
    50%
    {
        transform:translateX(500px) translateY(500px);
    }
    100%
    {
        transform:translateX(1000px) translateY(0px);
    }
}

header img
{
    z-index:1000;
    animation:rebond 3s 2 alternate;
}

#complements
{
    flex-basis:30em;
    background-color:#FF9453;
}

/* FOOTER */

footer
{
    background-color:#FF9453;
    text-align:center;
}

@media (max-width:640px){
    
    #complements
	{
		display:none;
	}

}


@media (orientation:portait)
{
    body{
        background:#fe00f1;
    }

}

@media print
{
    nav,
	header,
	#complements
	{
		display:none;
	}

    h2{
        font-family:Arial;
    }

}
